header {
    transition: 0.5s all;
    z-index: 2;
    a {
        color: #000;
        text-decoration: none;
    }
    width: 100%;
    // position: fixed;
    background-color: rgba(50, 220, 130, 0.6);
    // scroll
    
    height: 150px;
    .header_scroll_main{
        display: flex;
        
    }
    .header_main {
        // scroll
        
        .header_RWD {
            padding: 10px 0px;
            .header_logo {
                display: flex;
                align-items: center;
                width: 100px;
                margin: 0 auto;
                img {
                    width: 100%;
                }
            }
            .header_RWD_item {
                display: none;
            }
        }
        hr {
            margin: 0;
        }
        .header_content {
            .header_mask {
                display: none;
            }
            display: flex;
            justify-content: space-between;
            .header_list {
                // border: #000 1px solid;
                display: flex;
                flex: end;
                .header_item {
                    .header_item_none{
                        display: none;
                    }
                    position: relative;
                    .isActive {
                        .active {
                            display: block;
                        }
                    }
                    .noActive {
                        .active {
                            display: none;
                        }
                    }
                    .active {
                        position: absolute;
                        top: -5%;
                        left: 50%;
                        transform: translate(-50%, 0%);
                    }
                    padding: 20px 20px;
                    display: flex;
                    p {
                        color: #fff;
                        font-weight: 600;
                        font-size: 16px;
                    }
                    :hover {
                        color: #736357;
                    }
                }
            }
            .header_member {
                display: flex;
                align-items: center;
                .header_member_item {
                    cursor: pointer;
                    margin: 5px;
                    display: flex;
                    align-items: center;
                    a {
                        span {
                            color: #fff;
                            font-size: 16px;
                        }
                    }:hover{
                        color: #736357;
                    }
                }
                .header_cart {
                    margin: 5px;
                    display: flex;
                    align-items: center;
                    a {
                        position: relative;
                        span {
                            color: #fff;
                            font-size: 16px;
                        }:hover{
                            color: #736357;
                        }
                        .header_cart_cartTotalQuantity{
                            position: absolute;
                            top: -8px;
                        }
                    }
                }
            }
        }
    }
}
.scroll_header{
    position: fixed;
    height: 83px;
    transition: 0.5s all;
}
.scroll_header_main{
    display: flex;
    align-items: center;
    p{
        margin-bottom: 0;
    }
}
.scroll_nav{
    width: 90%;
}

@media screen and(max-width:768px) {
    header {

        height: 83px;
        .header_main {
            .header_RWD {
                display: flex;
                justify-content: space-between;
                .header_logo {
                    display: flex;
                    align-items: center;
                    width: 100px;
                    margin: 0;
                    img {
                        width: 100%;
                    }
                }
                .header_RWD_item {
                    display: flex;
                    align-items: center;
                    .header_RWD_item_icon{
                        color: #fff;
                        cursor: pointer;
                        a{
                            color: #fff;
                            .header_RWD_cart{
                                position: relative;
                                .header_RWD_cart_number{
                                    position: absolute;
                                    font-size: 16px;
                                    font-weight: 600;
                                    top: -6px;
                                    right: -9px;
                                }
                            }
                        }
                    }:hover{
                        color: #736357;
                    }
                }
            }
            hr {
                margin: 0;
                display: none;
            }
            .header_show_content {
                .header_item_none{
                    // border: #000 1px solid;
                    display: block;

                }
            }
            .header_content {
                transform: translateX(-400%);
                transition: all 0.5s;
                .header_mask {
                    display: block;
                    position: fixed;
                    width: 130vw;
                    height: 120vh;
                    z-index: -5;
                    left: -30%;
                    background-color: rgba(0, 0, 0, 0.3);
                }
                // display: flex;
                // flex-direction: row;
                // justify-content: space-between;
                width: 50%;
                background-color: rgba(46, 204, 135, 0.6);
                .header_list {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .header_item {
                        margin-top: 50px;
                        border: #000 1px solid;
                        .header_item_none{
                            display: block;
                        }
                        position: relative;
                        .isActive {
                            .active {
                                display: block;
                            }
                        }
                        .noActive {
                            .active {
                                display: none;
                            }
                        }
                        .active {
                            position: absolute;
                            top: 40%;
                            left: -3%;
                            transform: translate(0%, -50%);
                            img {
                                transform: rotate(-90deg);
                            }
                        }
                        padding: 20px 40px;
                        display: flex;
                        p {
                            color: #fff;
                            font-weight: 600;
                            font-size: 16px;
                        }
                        :hover {
                            color: #736357;
                        }
                    }
                    
                }
                .header_member {
                    display: none;
                    .header_member_item {
                        margin: 5px;
                        display: flex;
                        align-items: center;
                        a {
                            span {
                                color: #fff;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            .header_show_content {
                transform: translateX(-15%);
                // transition: all 0.5s;

            }
        }
    }
   
    .scroll_header_main{
        display: block;
      
    }

}
