.home_introduction_title{
    margin-top: 90px;
    display: flex;
    justify-content: center;
}
.home_introduction {
    margin-top: 90px;
    // height: 1000px;
    display: flex;
    justify-content: center;
    .home_introduction_content {
        width: 49%;
        display: flex;
        margin-right: 15px;

        .home_introduction_logo {
            // width: 00px;
            margin-right: 10px;
            // margin-top: 50px;
            img {
                // width: 100%;
                // width: 100px;
                object-fit: contain;
            }
        }
        .home_introduction_text {
            width: auto;
            .home_introduction_text_content {
                margin: 70px 10px;
                p {
                    font-size: 30px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .introduce_button {
                margin-left: 30px;
                float: left;
                // margin: 0 auto;
                // display: flex;
                // justify-content: center;
            }
        }
    }
    .home_introduction_img {
        width: 40%;
        display: flex;
        align-items: center;
        img {
            border-radius: 4px;
            width: 100%;
        }
    }
}
@media screen and(max-width:768px) {
    .home_introduction {
        display: flex;
        flex-direction: column;
        align-items: center;
        .home_introduction_content {
            width: 90%;
        }
        .home_introduction_img {
            margin-top: 50px;
            width: 90%;
        }
    }
}
